@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	font-size: 14px;
}

.box {
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	border-color: #428bca;
	border-radius: 0.7em;
	border-width: 2px;
	border-style: solid;
	width: 60%;
}

.box-header, button {
	background-color: #428bca;
	color: white;
	font-size: 130%;
	padding: 0.7em;
	overflow: hidden;
}

.box-content {
	position: relative;
	padding: 1em;
}

button {
	margin: 0.5em 0;
	border-color: #ddddff;
	border-radius: 0.5em;
	border-style: solid;
	width: 6em;
	outline: 0;
}

input:focus {
	outline: none;
}

button:hover {
	background-color: #ff9d48;
}

button:active, a:active {
	background-color: #5ef527;
}

p {
	margin-top: 0.5em;
	font-size: 18px;
}

.input-with-label {
	box-sizing: border-box;
	margin: 0.5em 0;
	border-color: #ddddff;
	border-radius: 0.5em;
	border-style: solid;
	border-width: 2px;
}

input, select {
	border: none;
	display: inline-block;
	outline: none;
}

label {
	padding: 0.7em;
}

input {
	max-height: 1em;
}

label {
	display: inline-block;
	background-color: #eee;
}

.input-with-label:hover {
	border-color: #428bca;
}

#buttons {
	float: right;
	max-width: 15%;
}

@media screen and (max-width: 1400px) {
	label {
		display: block;
	}
}

@media screen and (max-width: 1065px) {
	#buttons {
		float: none;
		margin: auto;
		display: block;
		padding: auto;
		max-width: 18em;
	}
	button {
		margin: auto;
	}
}

@media screen and (max-width: 840px) {
	td {
		display: block;
	}
	label {
		display: inline-block;
	}
}