<!doctype html>
<html>
<head>
<title>Boxes</title>
<meta name="description" content="Floating rounded boxes">
<meta name="author" content="koger">
<meta name="viewport" content="width=device-width, initial-scale=0.5">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="app.js"></script>
<style src="https://meyerweb.com/eric/tools/css/reset/reset.css"></style>
<link rel="stylesheet" href="common.css">
<link rel="icon" href="favicon.ico">
</head>

<body ng-app="app" ng-controller="appCon">
	<div ng-model="userbox" ng-style="userbox.getStyle()" ng-click="userbox.toggle()" ng-mouseover="userbox.reverse()"></div>
	<div ng-repeat="box in boxes" ng-style="box.getStyle()" ng-click="box.toggle()" ng-mouseover="box.reverse()"></div>
	<div class="box">
		<div class="box-header">Add Element</div>
		<form ng-init="userbox" ng-submit="addBox(userbox)" class="box-content">
			<div id="buttons">
				<button>Go</button>
				<button type="button" ng-click="randomize()">Random</button>
			</div>
			<table style="margin: auto">
				<tr>
					<td class="input-with-label"><label>x</label><input type="range" min="0" max="{{xMax}}" ng-model="userbox.x"></input></td>
					<td class="input-with-label"><label>y</label><input type="range" min="0" max="{{yMax}}" ng-model="userbox.y"></input></td>
					<td class="input-with-label"><label>size</label><input type="range" ng-model="userbox.size"></input></td>
				</tr>
				<tr>
					<td class="input-with-label"><label>red</label><input type="range" ng-model="userbox.red" min="0" max="255"></input></td>
					<td class="input-with-label"><label>green</label><input type="range" ng-model="userbox.green" min="0" max="255"></input></td>
					<td class="input-with-label"><label>blue</label><input type="range" ng-model="userbox.blue" min="0" max="255"></input></td>
				</tr>
				<tr>
					<td class="input-with-label"><label>V-speed</label><input ng-model="userbox.verticalSpeed" type="range" min="-10" max="10"></input></td>
					<td class="input-with-label"><label>H-speed</label><input ng-model="userbox.horizontalSpeed" type="range" min="-10" max="10"></input></td>
					<td class="input-with-label"><label>radius</label><input ng-model="userbox.radius" type="range" min="0" max="50"></input></td>
				</tr>
			</table>
		</form>
	</div>
	<div ng-style="{width: '1px', height: '1px', overflow: 'hidden'}">
  	<img src="nagykep.png"/>
  	<img src="orange-blue.jpg"/>
	</div>

</body>

</html>
